h1#mainHeading {
    margin-left: 20px;
}
h1#mainHeading a:hover {
    text-decoration: none;
}
.box {
    margin: 20px;
    position: relative;

}
.box .head {
    position: relative;
    margin: 0;
}
.box .head h1 {
    background:repeat-x scroll left bottom #f3f3f3;
    border: 1px solid #dedede;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #5d5d5d;
    font-size: 18px;
    line-height: 20px;
    padding: 9px 15px;
}
.box .inner {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #f7f6f6;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-color: -moz-use-text-color #dedede #dedede;
    border-image: none;
    border-right: 1px solid #dedede;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    margin-bottom: 19px;
    overflow: hidden;
    padding: 15px;
}

#sidebar {
    float: left;
    margin: 0 17px 0 0;
    min-height: 300px;
    width: 202px;
}
.newsUl{
    margin-left: 220px;
}
#keyWords {
    margin-left: 75px;
}
#from {
    margin-left: 13px;
}
#toLable {
    margin-left: 88px;
}
#to{
    margin-left: 29px;
}
#location {
    margin-left: 79px;
}

div.content {
    text-align: justify;
}